body {
    font-family: "Courier New", Courier, monospace;
}

.hours {
    padding: 6px;
    margin-left: 19%;
}

.input {
    min-height: 25px;
}

.button {
    padding: 7px;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(5%);
    transform: translateY(5%);
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url("techbackground.jpg");
    background-repeat: center no-repeat;
}

.jumbotron h1 {
    color: white;
    font-size: 5vw;
}

.jumbotron h2 {
    color: white;
    font-size: 3vw;
}

.jumbotron p {
    color: white;
    font-size: 1.5vw;
}