body {
    font-family: "Courier New", Courier, monospace;
}

.hours {
    padding: 6px;
    margin-left: 19%;
}

.input {
    min-height: 25px;
}

.button {
    padding: 7px;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(5%);
    transform: translateY(5%);
}